html {
    background-color: pink;
    font-size: 10px;
    font-family: 'Miss Fajardose', cursive;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: violet;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    text-align: center;
    font-size: 85px;
    color: black;
    text-shadow: 3px 3px 1px pink;
    padding: 20px 0;
    margin: 0;
}

p {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

img {
    border: 5px solid black;
    display: block;
    margin: 0 auto;
    width: 400px;
}
